.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px;

  .profilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/herobg.png");
    object-fit: cover;
    img {
      object-fit: cover;
      @media screen and (max-width: 460px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 460px) {
      width: 100%;
    }
  }

  .profileDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

    .top {
      display: flex;
      flex-direction: column;
      gap: 25px;
      font-family: "Ubuntu", sans-serif;
      margin: 20px 0px;
      .name {
        font-size: 30px;
        font-weight: 600;
        font-family: "Ubuntu", sans-serif;
        color: var(--color-red);
      }
      .designation {
        font-size: 45px;
        font-weight: 600;
        font-family: "Ubuntu", sans-serif;
        color: #111;
      }
    }
    .middle {
      margin: 20px 0px;
      display: flex;
      align-items: center;
      gap: 10px;

      .hireArrow {
        font-size: 20px;
        font-weight: 600;
        padding: 8px;
        color: #fff;
        background-color: var(--color-red);
        margin-right: 5px;
        border-top-right-radius: 10px;
        cursor: pointer;
      }

      p {
        a {
          text-decoration: none;
          color: #111;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            color: var(--color-blue);
          }
        }
      }

      img {
        width: 80px;
        transform: rotate(326deg);
        margin-top: -25px;
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      margin: 20px 0px;

      @media screen and (max-width: 1116px) {
        justify-content: center;
      }

      a {
        text-decoration: none;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid var(--color-blue);
          color: var(--color-blue);
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: var(--color-yellow);
            border: 1px solid var(--color-yellow);
          }
        }
      }
    }

    hr {
      height: 0;
      border: 0.1px solid rgb(235, 235, 235);
      margin: 30px 0px;
    }
  }
}
