.skills {
  padding: 10px;
  margin: 50px 0px;
  .skill {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    .logo {
      width: 80px;
      height: 80px;
      padding: 8px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(51, 51, 51, 0.24) 0px 3px 8px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      @media screen and (max-width: 280px) {
        width: 60px;
        height: 60px;
      }

      &:hover {
        transform: scale(1.2);
      }

      img {
        width: 50px;
        object-fit: cover;
      }
      .js {
        border-radius: 20%;
      }
      .react {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      .tail {
        width: 80%;
        height: 80%;
        border-radius: 20%;
        object-fit: cover;
      }
    }
  }
}
